
// Specific CSS for your home-page

//
// .index__container{
// width: 100%;
// height: 100vh;
// display: flex;
// align-items: center;
// justify-content: center;
// padding: 0 1.5rem;
// }

// .hotel-post-img{
// width: 100%;
// }

// .hotel-post{
//   width: 100%;
//   max-width: 98rem;
//   padding: 5rem;
//   background-color: green;
//   color:black;
//   box-shadow: 0 1.4rem 8rem  rgba(0,0,0,.2);
//   align-items: center;
//   border-radius: .8rem;

// }

// .hotel-post__name{
// color:red;
// }

// index page
.hotel_card {
box-shadow: #F4BA13;
}

.view_btn {
  text-decoration: none;
  color:white;
  font-weight: bolder;
  background: #F4BA13;
  border-radius: 4px;
  margin-right: 1rem;
  font-weight: normal;
  padding: 8px 24px;

}


// show page
#map {
  height: 90vh;
  width: 80vh;
  position: sticky;
  top: 0;
}

.link{
  text-decoration: none;
}

.card-text{
  color: pink;
}


.background-svg{
background: linear-gradient(to right,#F4BA13 0%, #F4BA13 50%, #FFF 40%);
padding: 60px 0;
}
.background-svg h1 {
  font-size: 64px;
  font-weight:bolder;
  padding-top: 0px;

}

.card-main {
  height: 500px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}
.card-main h3{
  font-weight: bold;
  font-size: 18px;
  padding-left: 12px;
  font-family: 'Montserrat';
}

.card-main img {
  height: 100%;
  width: 340px;
  object-fit:cover;
}

.list-group-item{
  height: 120px;
  background: white;
  border: 6px solid #F4BA13;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  width: 700px;
  left: 8px;
  margin-bottom: 14px;
}

.list-group-item:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0,0,0,0.11),0 24px 46px var(--box-shadow-color);
}

.list-group-item h2 {
  font-size: 28px;
  font-weight:medium;
}
.svg-heart {
 height: 50px;
 padding-right: 8px;
}
.svg-globe {
 height: 50px;
 padding-right: 8px;
}

// home page css
.h1 {
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;

}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.svg-plane {
 height: 60px;
 padding-right: 8px;
}
