// Specific CSS for your home-page
index page
.hotel_card {
box-shadow: #F4BA13;
}

.view_btn {
  text-decoration: none;
  color:white;
  font-weight: bolder;
  background: #F4BA13;
  border-radius: 4px;
  margin-right: 1rem;
  font-weight: normal;
  padding: 8px 24px;

}
