
// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,500;1,100;1,200;1,400&family=Permanent+Marker&display=swap');

.background-image {
  background-image: url(https://images.unsplash.com/photo-1589895009255-67c7cb06de4e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80);
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.home-header h1 {
  margin: 0 auto;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 70px;
  font-family: 'Montserrat';
  font-style:italic;
  justify-content: center;
  padding-top: 200px;
  padding-left: 600px;
  background-position: center;
  justify-content: center;
  align-items: center;
  padding-left: 500px;
  padding-top: 180px;
  padding-bottom: 20px;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.4);
}

.home-header p {
  font-family: 'Montserrat';
  font-style: bolder;
  font-size: 90px;
  color: rgb(241, 182, 3);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  justify-content: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  padding-left: 700px;
  font-weight: bold;
}

.card-product {
  overflow: hidden;
  height: 120px;
  color:rgba(196, 196, 196, 0.96);
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display:inline-flex;
  align-items: center;
  background-color:rgba(196, 196, 196, 0.96);
  margin-left: 500px;
  margin-right: 400px;
  padding-right: 300px;
  opacity: 0.9;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 60px;
  padding-right: 60px;
  padding-left: 60px;
}

.dropdown-toggle {
  background-color: #F4BA13;
  color: black;
  border-color: #F4BA13;
  border-radius: 4px

}

.dropdown-toggle:hover {
  color: olive;
}

.btn-group {
  color: black;
  color:rgb(241, 182, 3);
  margin-left: 20px;

}

.search-button {
  padding-left: 620px;
  padding-top: 100px;
  color: rgba(246, 186, 10, 1);
}

.btn-primary {
  background-color: rgba(246, 186, 10, 1);
  color: black;
  border-color: rgba(246, 186, 10, 1);
  margin-left: 850px;
  margin-top: 50px;
  padding-left: 30px;
  padding-right: 30px;

}

.input-info {
  display: flex;
  margin-left: auto;

}

.form-control {
  margin-right: 30px;
  min-width: 50px;
  margin-left: 20px;
}

.btn-secondary.dropdown-toggle:focus {
  margin-right: 40px;
}


// end of home page

.index__container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
}

.hotel-post-img{
width: 100%;
}

// .hotel-post {
// width: 100%;
//   max-width: 98rem;
//   padding: 5rem;
//   background-color: green;
//   color:black;
//   box-shadow: 0 1.4rem 8rem  rgba(0,0,0,.2);
//   align-items: center;
//   border-radius: .8rem;


// .hotel-post__name{
// color:red;
// }


// .index page {
// .hotel_card
// box-shadow: #F4BA13;
// }

// index page
.card {
border: solid 4px #F4BA13;
box-shadow: 2px 2px 1px rgba(0, 0, 0, .2);
}


.button{
  background-color: #F4BA13;
  border-radius: 2%;
  width: 130px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 1px 6px rgba(0, 0, 0, .2);
}

.button a {
  text-decoration: none;
  color: white;
}


// show page
#map {
  height: 90vh;
  width: 80vh;
  position: sticky;
  top: 0;
}

.link{
  text-decoration: none;
}

.card-text{
  color: pink;
}


.background-svg{
background: linear-gradient(to right,#F4BA13 0%, #F4BA13 50%, #FFF 40%);
padding: 60px 0;
}
.background-svg h1 {
  font-size: 64px;
  font-weight:bolder;
  padding-top: 0px;

}

.card-main {
  height: 500px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}
.card-main h3{
  font-weight: bold;
  font-size: 18px;
  padding-left: 12px;
  font-family: 'Montserrat';
}

.card-main img {
  height: 100%;
  width: 340px;
  object-fit:cover;
}

.list-group-item{
  height: 120px;
  background: white;
  border: 6px solid #F4BA13;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  width: 700px;
  left: 8px;
  margin-bottom: 14px;
}

.list-group-item:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0,0,0,0.11),0 24px 46px var(--box-shadow-color);
}

.list-group-item h2 {
  font-size: 28px;
  font-weight:medium;
}
.svg-heart {
 height: 50px;
 padding-right: 8px;
}
.svg-globe {
 height: 50px;
 padding-right: 8px;
}

// home page css
.h1 {
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;

}

form{
  display: flex;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.svg-plane {
 height: 60px;
 padding-right: 8px;
}

// CSS - Show page
h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 40px;
  padding-top: 20px;
  padding-left: 44px;
  margin-bottom: 20px;
}

p {
  font-family: 'Montserrat';
  font-weight: bolder;
  font-size: 25px;
  padding-left: 44px;
  padding-top: 10px;
  margin-top: 20px;
}

img {
  margin-left: 40px;
}
