<footer class="brand_text text-center lg:text-left bg-gray-100">
  <div class="flex justify-center items-center lg:justify-between p-6 border-b border-gray-300">
    <div class="mr-12 hidden lg:block">
      <span class="brand_text">LaowaiTrip</span>
    </div>

     <div class="flex justify-center mt-2">
      <a href="#" class="mr-6 text-gray-900 text-xl">
      <i class="fab fa-facebook"></i>
      </a>
       <a href="#" class="mr-6 text-gray-900 text-xl">
      <i class="fab fa-twitter"></i>
      </a>
       <a href="#" class="mr-6 text-gray-900 text-xl ">
      <i class="fab fa-pinterest-square"></i>
        </a>
       <a href="#" class="mr-6 text-gray-900 text-xl">
      <i class="fab fa-instagram-square"></i>
       </a>
   </div>
</footer>
