
<div class="home-page-info">
  <%= image_tag "china_building.jpg", alt: "Laowai", class: "max-w-full h-auto" %>
    <div class="home-header justify-center">
      <%# <h1>EXPERT IN EXPAT</h1> %>
        <%# <h2>TRAVEL</h2> %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)>
            <a class="btn btn-gradient" href="#">Search</a>
            </h1>
            </div>
