
<div class="home-page-info">
  <%= image_tag "china_building.jpg", alt: "Laowai", class: "max-w-full h-auto" %>
    <div class="home-header justify-center">
      <%# <h1>EXPERT IN EXPAT</h1> %>
        <%# <h2>TRAVEL</h2> %>
        <div class="d-flex text-white">
          <div class="p-2 flex-fill bg-primary" <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)>
            <a class="btn btn-gradient" href="#">Search</a>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle"
                type="button" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
              Select Location
            </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <a class="dropdown-item" href="#!">Action</a>
      <a class="dropdown-item" href="#!">Another action</a>
    </div>
    </div>
      </h1>
        </div></div>
          <div class="p-2 flex-fill bg-success
            <!-- Form code begins -->
              <form method="post">
                <div class="form-group">
                <!-- Date input -->
                  <label class="control-label" for="date">Check in</label>
                    <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text"/>
                    </div>
                  <div class="form-group">
                  <!-- Submit button -->
                <button class="btn btn-primary " name="submit" type="submit">Submit</button>
              </div>
            </form>
          <!-- Form code ends -->
        </div>
        </div>
          </div>
            </div>
              <div class="bootstrap-iso">
                <div class="container-fluid">
                  <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-12"></div>
                <div class="p-2 flex-fill bg-primary <!-- Form code begins -->
              <form method="post">
            <div class="form-group">
            <!-- Date input -->
          <label class="control-label" for="date">Check out</label>
        <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text"/>
        </div>
          <div class="form-group">
          <!-- Submit button -->
            <button class="btn btn-primary " name="submit" type="submit">Submit</button>
              </div>
                </form>
                <!-- Form code ends -->
                </div>
                  </div>
                    </div>
                      </div>
                        </div>
                        </div>
                      <div class="bootstrap-iso">
                    <div class="container-fluid">
                  <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
