<style> @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Permanent+Marker&display=swap');</style>


            <div class="background-image">
          <div class="home-header">
        <h1>EXPERTS IN EXPAT</h1>
      <p>TRAVEL</p>
    <link rel="stylesheet" href="style.scss">
    </div>

  <div class="search_info">
    <div class="card-product">
      <div class="input-info">
        <div class="btn-group">
          <button type="button" class="btn btn-danger dropdown-toggle"    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Check-out
            </button>

              <div class="check-in">
                </div>
                  </div>
                  <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Check-in
              </button>

            <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Check-out</a>
        </div>

      </div>
      </div>

      <div class="input-group">
      <%= form_tag places_path, method: :get do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a hotel"
        %>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle"
          type="button" id="dropdownMenu1" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Guests
            </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <a class="dropdown-item" href="#!">Adults</a>
                  <a class="dropdown-item" href="#!">Infants</a>
                  <a class="dropdown-item" href="#!">Children</a>
                  <a class="dropdown-item" href="#!">Pets</a>
                    </div>
                      </div>
                        </div>
                      </div>
                    <div class="search">
                  <%= submit_tag "Search", class: "btn btn-primary" %>
              </div>
                <% end %>
              </div>

              </div>
