
<%# <h1>Experts in Expat Travel</h1> %>
   <%# @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap') %>
  <%= image_tag "china_building.jpg", alt: "Laowai", class: "max-w-full h-auto" %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
      </div>
