<h1></h1>
 <%= image_tag "https://images.unsplash.com/photo-1589895009255-67c7cb06de4e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80" %>
<%# <p>Find me in app/views/pages/home.html.erb</p> %>
