<%# <h1>Experts in Expat Travel</h1> %>
   <%# @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap') %>
  <%= image_tag "china_building.jpg", alt: "Laowai", class: "max-w-full h-auto" %>
    <div class="flex justify-center">
      <div class="mb-3 xl:w-60">
        <select class="form-select appearance-none
      block
      w-full
      px-3
      py-1.5
      text-base
      font-normal
      text-gray-700
      bg-white bg-clip-padding bg-no-repeat
      border border-solid border-gray-300
      rounded
      transition
      ease-in-out
      m-0
      focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" aria-label="Default select example">
        <option selected>Select Location</option>
        <option value="1">ShanghI</option>
        <option value="2">Sanya</option>
        <option value="3">Xian</option>
    </select>
  </div>
</div>





<%# <p>Find me in app/views/pages/home.html.erb</p> %>
