<style> @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Permanent+Marker&display=swap');</style>


            <div class="background-image">
          <div class="home-header">
        <h1>EXPERTS IN EXPAT</h1>
      <p>TRAVEL</p>
 </div>
 <div class="card-product">
 <div class="input-info">

<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Check out
      </button>

        <div class="check-in">
            </div>
              </div>
              <div class="btn-group">
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Check in
            </button>
          <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Check out</a>
      </div>
      </div>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text" id="btnGroupAddon">Select Location</div>
            <input type="text" class="form-control" placeholder="Input group example" aria-label="Input group example" aria-describedby="btnGroupAddon">
            </div>
                </div>
                </div>
                <div class="search-button">
                 <a class="btn btn-flat" href="#">Search</a>
                    </div>
                      </div>

        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Check out</a>
            </div>
              </div>
              <div class="btn-group">
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Check in
            </button>
          <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Check out</a>
      </div>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text" id="btnGroupAddon">Select Location</div>
          </div>
            <input type="text" class="form-control" placeholder="Input group example" aria-label="Input group example" aria-describedby="btnGroupAddon">
              </div>
                </div>

