.footer {
  background: #C4C4C4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;

  padding: 1px 50px;
  color: rgba(0,0,0,0.3);

}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: black;

  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  transition: 500ms linear;
}

.footer-links a:hover {
  transform: scale(1.1);

}

.footer_brand_text {
font-family: 'Permanent Marker';
font-size: 28px;
line-height: 50px;
color: black;
padding: 10px 10px;
}
