.footer {
  background: #C4C4C4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(0,0,0,0.3);
  // height: 65px;
      min-height: 60px;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
}

.footer-links a {
  color: black;
  margin-right: 30px;
  text-decoration: none;
  font-size: 18px;
  padding: 0px 10px;
  transition: 500ms linear;
  overflow: auto;
}

.footer-links a:hover {
  transform: scale(1.1);

}

// .footer_brand_text {
// font-family: 'Permanent Marker';
// font-size: 25px;
// color: black;
// padding: 10px 0px;
// margin: 0 !important;
// }
