.footer {
  background: #C4C4C4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3)
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
}

.footer_brand_text {
font-family: 'Permanent Marker';
font-size: 28px;
line-height: 40px;
color: black;
}
