.navbar-lewagon {

  background: rgba(196, 196, 196, 0.6);
  box-shadow: 0 4px 2px -2px grey;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.btn-flat {
  color: black;
  padding: 8px 24px;
  border-radius: 4px;
  background: rgba(246, 186, 10, 1);
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.brand_text {
font-family: 'Permanent Marker';
font-size: 28px;
line-height: 40px;
color: black;
justify-content: left;
}

.navbar-nav{
  padding-right: 30px;
}

.nav-info{
  display: flex;
  justify-content: space-between;
  min-width: 100%;
}

.dropdown{
  margin-left: 5px;
}

// .logo {
//   text-align: left;
//   margin-right: 800px;
//   align-items: flex-end;
//   display: flex;
//   position: relative;
//   padding-right: 450px;
// }
